@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;400;500;600;700&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    touch-action: none;
    -ms-touch-action: none;
  }
  .login-box{
    display: flex;
    flex-direction: column;
  }
  .title{
    font-size: 48px;
    margin: 0
  }
  .section-title{
    font-size: 16px;
    font-weight: 300;
  }
  .section-subtitle{
    font-size: 14px;
    font-weight: 300;
  }
