@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;400;500;600;700&display=swap');
*{
    margin: 2;
    width: 50;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai', sans-serif; 
}
body{
    background-color: #f0f3f5;
}
.page{
    background-color: white;
    display: block;
    margin: 0 auto;
    position: relative;
}
div {
    margin-left: 5px;
    margin-right: 5px;
}
ul {
    margin-left: 25px;
}
.page[size = "A4"]{
    width: 21cm;
    height: 29.7cm;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media print {
    .page[size="A4"] {
      box-shadow: none;
    }
}
.container {
    display:flex;
    justify-content: space-between;
}
.title {
    position: absolute;
    text-align: center;
    line-height: 20px;
    left:30%;

}
#contact{
    text-align: start;
    line-height: 10px;
}
#link-work a {
    display: block;
    line-height: 30px;
    text-align: end;
    font-size: 16px;
}
.contextinfo {
    line-height: 20px;
    margin-top: 3%;
   
}
.contextinfo > * {
    margin-bottom: 2px;
    font-size: 14px;
    margin-bottom: 8px;
}
.headline-info {
    font-size: 18px;
    border-bottom: 1px solid;
    font-weight: 500;
}
#projects span {
    display:flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
}
li{
    position : relative;
    left : 1vw;
    margin-right: 5px;
}
#work_experience span {
    display:flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
}
#head-education {
    font-weight: bold;
}
a {
    color: black;
    text-decoration: none;
}
#lang-skill, #framework-skill, #tools-skill, #other-skill{
    position: absolute;
    left : 25%
}
#work_title {
    position: absolute;
    left: 45%;
}
li > div{
    margin-left: 20px;
}